<div class="row row-cols-1 row-cols-md-3 g-4">
  {{range $post := .Posts}}
  <div class="col">
    <div class="card">
      <img
        src="https://res.cloudinary.com/ddkok43g3/image/upload/w_600,f_auto,q_auto/v1711551544/{{$post.HeroImage.Url}}"
        class="card-img-top object-fit-cover"
        alt="{{ $post.Title }}"
        style="height: 140px; object-fit: cover"
      />

      <div class="card-body">
        <small class="text-muted d-block mb-2">
          <a
            href="{{ $post.HeroImage.Attribution.Url }}"
            target="_blank"
            rel="noreferrer"
            class="text-muted text-decoration-none"
          >
            Photo by {{ $post.HeroImage.Attribution.Author }}
          </a>
        </small>

        <h5 class="card-title mb-0">
          <a href="/{{ $post.Slug }}.html">{{ $post.Title }}</a>
        </h5>
        <p class="text-muted mb-2">{{ $post.Date }}</p>

        <p class="card-text">{{ $post.Description }}</p>

        <div class="mb-3">
          {{ range $tag := $post.Tags}}
          <a
            href="/tags/{{ $tag }}.html"
            class="badge bg-light text-dark border me-1"
            >{{ $tag }}</a
          >
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{end}}
</div>
