name: PR GoReleaser Check

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  goreleaser-check:
    runs-on: ubuntu-latest
    container:
      image: goreleaser/goreleaser-cross:v1.24

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git safe directory
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Run GoReleaser in dry-run mode
        run: goreleaser release --snapshot --skip=publish --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
