name: Release

on:
  push:
    tags:
      - "v*.*.*" # Triggers on tags like v1.2.3

permissions:
  contents: write # Needed to upload release assets

jobs:
  release:
    runs-on: ubuntu-latest
    container:
      image: goreleaser/goreleaser-cross:v1.24

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git safe directory
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Run GoReleaser
        run: goreleaser release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
